body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #201E1F;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #4449d4;
    background-color: #333333;
    color: #ffffff;
    transition: all 0.2s ease;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #75cff9;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #4877ee;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #75cff9;
    color: #201E1F;
}

.description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .contact-form {
        padding: 10px;
        max-width: 90%;
    }
}
